{% extends 'explore/layout.html' %}

{% block header %}

  {% load static %}

  <!-- Search Header -->
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 align-self-baseline">
          <h2>Choisissez vos produits sur des critères nutritionnels, écologiques et éthiques.</h2>
          <br>
          <form action="{% url 'results' %}" method="get" role="search" accept-charset="utf-8">
            <input name="q" type="text" placeholder="Catégorie (exemple : biscuits)" class="form-control">
              <div class="d-inline">
                <button type="button" class="btn btn-primary text-x-small text-uppercase mt-0" data-toggle="dropdown">options</button>
                <div class="dropdown-menu dropdown-menu-right pb-1">
                  <h5 class="text-white my-2 ml-3 pb-2">Classement par :</h5>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="ranking" value="nutrition" checked>score nutritionnel</label>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="ranking" value="nova">groupe NOVA</label>
                  <h5 class="text-white mt-3 ml-3 mb-2">Filtres :</h5>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="filtering" value="none" checked>aucun</label>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="filtering" value="bio">agriculture biologique</label>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="filtering" value="fsc">écolabel (FSC)</label>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="filtering" value="palm-oil-free">sans huile de palme</label>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="filtering" value="fair-trade">commerce équitable</label>
                  <label class="d-block"><input class="ml-3 mr-2" type="radio" name="filtering" value="made-in-france">origine France</label>
                 <hr class="mb-1 light">
                <button class="btn w-100 text-uppercase text-white text-right text-x-small" type="submit">chercher&nbsp;&nbsp;<i class="fas fa-search fa-lg deep_purple"></i></button>
              </div>
              </div>
            </form>
            </div>
          </div>
        </div>

{% endblock %}