{% extends 'explore/layout.html' %}

{% block content %}

  {% load static %}

  <!-- Masthead -->
  <header class="masthead">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase font-weight-bold">Je sais ce que je mange !</h1>
        </div>
        <div class="col-lg-8 align-self-baseline">
          <h2>Choisissez vos produits sur des critères nutritionnels, écologiques et éthiques.</h2>
          <br>
          <form action="{% url 'results' %}" method="get" role="search" accept-charset="utf-8">
            <input name="q" type="text" placeholder="Catégorie (exemple : biscuits)" class="form-control">
              <div class="dropup d-inline">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu pl-3 pb-2">
                  <h5 class="text-white my-2">Classement par :</h5>
                  <label class="d-block"><input type="radio" name="ranking" value="nutrition" checked>&nbsp;&nbsp;score nutritionnel</label>
                  <label class="d-block"><input type="radio" name="ranking" value="nova">&nbsp;&nbsp;groupe NOVA</label>
                  <h5 class="text-white mt-3 mb-2">Filtres :</h5>
                  <label class="d-block"><input type="radio" name="filtering" value="none" checked>&nbsp;&nbsp;aucun</label>
                  <label class="d-block"><input type="radio" name="filtering" value="bio">&nbsp;&nbsp;agriculture biologique</label>
                  <label class="d-block"><input type="radio" name="filtering" value="fsc">&nbsp;&nbsp;écolabel (FSC)</label>
                  <label class="d-block"><input type="radio" name="filtering" value="palm-oil-free">&nbsp;&nbsp;sans huile de palme</label>
                  <label class="d-block"><input type="radio" name="filtering" value="fair-trade">&nbsp;&nbsp;commerce équitable</label>
                  <label class="d-block"><input type="radio" name="filtering" value="made-in-france">&nbsp;&nbsp;origine France</label>
                </div>
            </div>
            </form>
            </div>
          </div>
        </div>
  </header>

{% endblock %}