{% extends 'explore/layout.html' %}

{% block content %}

  {% load static %}


  <!-- Legals Section -->
  <section class="page-section my-5">
    <div class="container">
    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site dansMonPanier les présentes mentions légales.</p>
    <p>Le site dansMonPanier est accessible à l'adresse suivante : www.dansmonpanier.io (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes "Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
    <p>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</p>
<br>
    <h2 class="h3">ARTICLE 1 - INFORMATIONS LÉGALES</h2>
    <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>

    <h3 class="h4">A. Editeur du site, Directeur de publication</h3>
    <p>Le site dansMonPanier est édité et publié par :<br>
    une personne physique agissant en tant que simple particulier<br>
    ci-après "l'Éditeur Directeur de publication"</p>

    <h3 class="h4">B. Hébergeur du site</h3>
    <p>Le site dansMonPanier est hébergé par : xxx<br> dont le siège est situé à l'adresse suivante : xxx<br>
    Téléphone : xxx<br>
    Adresse email : xxx<br>
    ci-après "l'Hébergeur"</p>

    <h3 class="h4">C. Utilisateurs</h3>
    <p>Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site dansMonPanier<br>
    ci-après les "Utilisateurs"</p>

    <br>
    <h2 class="h3">ARTICLE 2 - CONFIDENTIALITE</h2>
    <br>
    <h3 class="h4">A. DONNEES COLLECTEES ET TRAITEES</h3>
    <p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
    <ul>
    <li>Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées</li>
    <li>Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes mentions légales</li>
    <li>Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées</li>
    <li>Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation</li>
    <li>Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li>
    </ul>
    <p>Afin d'être licite, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :</p>
    <ul>
    <li>L'utilisateur a expressément consenti au traitement</li>
    <li>Le traitement est nécessaire à la bonne exécution d'un contrat</li>
    <li>Le traitement répond à une obligation légale</li>
    <li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique</li>
    <li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique</li>
    <li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers</li>
    </ul>
    <p>Les données à caractère personnel collectées sur le site dansMonPanier sont les suivantes :</p>
    <ul>
    <li>adresse électronique</li>
    </ul>
    <p>Ces données sont collectées lorsque l'Utilisateur effectue l'une des opérations suivantes sur le site :</p>
    <ul>
    <li>à la création d'un compte afin de pouvoir sauvegarder des produits en favoris, il doit fournir une adresse électronique valide, laquelle permet son identification.</li>
    </ul>
    <p>Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de 1 an.</p>
    <p>La collecte et le traitement des données répondent aux finalités suivantes :</p>
    <ul>
    <li>L'adresse électronique de l'utilisateur sert d'identifiant de connexion à son compte afin de lui permettre d'enregistrer des favoris et d'accéder à l'ensemble desdits favoris.</li>
    </ul>

    <h3 class="h4">B. HEBERGEMENT DES DONNEES</h3>
    <p>Tel que mentionné plus haut, le site dansMonPanier est hébergé par : xxx, dont le siège est situé à l'adresse ci-après : xxx.<br>
    L'hébergeur peut être contacté au numéro de téléphone suivant : xxx</p>

    <h3 class="h4">C. LE RESPONSABLE DU TRAITEMENT DES DONNÉES</h3>
    <p>Le responsable du traitement des données à caractère personnel peut être contacté de la manière suivante : stephanie.blanchet.it@gmail.com</p>

    <h3 class="h4">D. DONNEES PERSONNELLES DES PERSONNES MINEURES</h3>
    <p>Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.</p>
    <p>Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.</p>

    <h3 class="h4">E. DROITS DE L'UTILISATEUR ET PROCÉDURES DE MISE EN OEUVRE DES DROITS DE L'UTILISATEUR</h3>
    <p>Conformément à la réglementation concernant le traitement des données à caractère personnel, l'Utilisateur possède les droits ci-après énumérés.</p>
    <ul>
    <li>Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.</li>
    <li>Le responsable du traitement des données est tenu de répondre à l'Utilisateur dans un délai de 30 (trente) jours maximum.</li>
    </ul>
    <h4>a. Droit d'accès, de rectification et droit à l'oubli</h4>
    <p>L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :</p>
    <ul>
    <li>Création d'un compte : communication d'un email et création d'un mot de passe</li>
    <li>Modification / suppression de son compte : activation du bouton "éditer mon compte"(1) ou du bouton "supprimer mon compte"(2)</li>
    </ul>
    <p>S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure décrite précédemment.</p>

    <h4 class="h5">b. Droit à la portabilité des données</h4>
    <p>L'Utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site.</p>

    <h4 class="h5">c. Droit à la limitation et à l'opposition du traitement des données</h4>
    <p>Enfin, l'Utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'Utilisateur.</p>

    <h4 class="h5">d. Droit de déterminer le sort des données après la mort</h4>
    <p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.</p>

    <h4 class="h5">e. Droit de saisir l'autorité de contrôle compétente</h4>
    <p>Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'Utilisateur, et que l'Utilisateur souhaite contester cette décision, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent.</p>

    <h3 class="h4">F. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</h3>
    <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.</p>
    <p>Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés. </p>
    <p>De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.</p>
    <p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'Utilisateur est compromise, le responsable du traitement s'engage à informer l'Utilisateur par tout moyen.</p>
    <br>
    <h2 class="h3">ARTICLE 3 - CREDITS</h2>
        <h3 class="h4">A. PHOTOS</h3>
    <p>Les photos d'illustration des catégories d'aliment utilisées sur le présent site proviennent du site https://unsplash.com.<br>
    Conformément à l’article 121-1 du Code la Propriété Intellectuelle, l'Editeur Directeur de Publication assure à leurs auteurs la jouissance de leurs nom, qualité et oeuvre.</p>
    <p>Ils sont cités ci-après :</p>
    <ul>
        <li>NordWood Themes : https://unsplash.com/photos/-2Xuq0g2U_8</li>
        <li>Stephanie Studer : https://unsplash.com/photos/tpAuBT0Ase4</li>
    </ul>
        <h3 class="h4">B. DESIGN & GRAPHISME</h3>
        <p>Le template utilisé pour les besoins de la présente application est une customisation du thème Bootstrap accessible à l'adresse suivante :<br>
        https://blackrockdigital.github.io/startbootstrap-creative/
        </p>
    <br>
    <h2 class="h3">ARTICLE 4 - CONTACT</h2>
    <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : stephanie.blanchet.it@gmail.com.</p>
    </div>
  </section>

{% endblock %}
