{% extends 'explore/layout.html' %}

{% block content %}

  {% load static %}

  <!-- SignUp Section -->
  <section class="page-section pt-5">
    <div class="container">
      <p class="my-0"><a href="#signup">Inscription</a> | <a href="#signin">Connexion</a></p>
      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6" id="signin">
          <div class="jumbotron pt-5">
            <h2 class="h3">Accédez à votre espace</h2>
            <br>
              <form method="post" action="{% url 'user_login' %}">
                {% csrf_token %}
                <div class="small">
                <label class="d-block" id="username">Email</label>
                <input class="mb-3" type="text" name="username" autofocus="true">
                <label class="d-block" id="password">Mot de passe</label>
                <input type="password" name="password">
                </div>
                <button class="mt-3 btn btn-primary btn-sm text-uppercase text-x-small" type="submit">Je me connecte</button>
              </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 pl-5" id="signup">
          <h2 class="h3 mt-0">Créez votre espace</h2>
          <br>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              <div class="small">
                <label class="d-block mb-0">{{ field.label_tag }}</label>
                <div class="mb-3">{{ field }}</div>
              </div>
              {% endfor %}
              <button type="submit" class="mb-1 btn btn-primary btn-sm text-uppercase text-x-small">Je m'inscris</button>
            </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
